#header {
  background-color: #fff !important;
}

#content {
  padding: 80px 0;
}

#content #goodsTypeBanner {
  width: 100%;
  overflow: hidden;
  height: 450px;
}

#content #goodsTypeBanner img {
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

#content .section {
  padding-top: 87px;
}

#content .section h2 {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 30px;
}

#content .section h2 div {
  float: right;
  width: 60px;
  height: 40px;
  position: relative;
  user-select: none;
  font-size: 18px;
  cursor: pointer;
  font-weight: 300;
  color: #343434;
  line-height: 40px;
}

#content .section h2 div p {
  width: 0;
  height: 0;
  position: absolute;
  right: 10px;
  border: 5px solid;
  border-color: #000 transparent transparent transparent;
}

#content .section h2 div p:nth-of-type(1) {
  top: 10px;
  transform: rotateZ(180deg);
}

#content .section h2 div p:nth-of-type(2) {
  top: 22px;
}

#content .section h2 div:hover {
  color: #008cff;
  transition: all 0.2s;
}

#content .section h2 .arrow-down p:nth-of-type(2) {
  border-color: #008cff transparent transparent transparent;
}

#content .section h2 .arrow-up p:nth-of-type(1) {
  border-color: #008cff transparent transparent transparent;
}

#content .section h2 .active {
  color: #008cff;
}

#content .section .goods-list li {
  float: left;
  cursor: pointer;
  text-align: center;
  width: 403px;
  padding-top: 40px;
  height: 556px;
  margin: 0 15px 15px 0;
  background-color: #fff;
}

#content .section .goods-list li .img-box {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  margin-bottom: 46px;
}

#content .section .goods-list li .img-box img {
  width: 100%;
  height: 100%;
}

#content .section .goods-list li .goods-name {
  font-size: 23px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 320px;
  margin: 0 auto;
}

#content .section .goods-list li .goods-desc {
  margin: 5px auto;
  line-height: 24px;
  display: block;
  color: #666;
  width: 270px;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#content .section .goods-list li .goods-price-box {
  line-height: 40px;
}

#content .section .goods-list li .goods-price-box i {
  color: #c00;
  font-size: 16px;
}

#content .section .goods-list li .goods-price-box .goods-price {
  font-size: 28px;
  color: #c00;
}

#content .section .goods-list li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
